html {
  background-color: black;
  color: white;
  font-size: 18px;
}

body {
  width: 100%;
  font-family: "Helvetica";

}

header {
  font-size: 1rem;
  text-transform: uppercase;
}

.banner {
  background-image: url("./images/moto.jpeg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.banner .new {
  font-size: 1rem;
}

.banner .text {
  font-size: 2rem;
}

.nav {
  background-color: firebrick;
}

.product {
  background-color: white;

}

.product .text {
    background-color: black;
}


.location {

}

.location .text{
  background-color: black;

}

.footer {

}
